.quickSearch{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 5px;
    background:orange;
    color:white;
    width: 100%;
  }
  .quickSearch h3{
    text-align: center;
  }
    .quickSearch ul{
      list-style: none;
      padding-right: 20px;
      padding-left: 20px;
      display: inline-block;
      width: 100%;
    }
    .quickSearch ul li{
      padding-left:22px;
      margin: 22px;
      display: inline-block;

    }
    /* home background */
  
    
    /* create account button */
     .createAcc{
      margin-right:10px;
     }
    .createAcc a{
      text-decoration: none;
      color:white;
      padding-right: 10px;
      font-size: 17px;
    }
    .createAcc button a{
      text-decoration: none;
      color:white;
    }
    .createAcc a:hover{
      color:white;
      text-decoration:none; 
    }
    
    .createAcc button{
      background: transparent;
      background: rgb(0,0,0,.5);
      padding: 2px;
      color:white;
      border-radius: 5px;
      border:2px solid white;
      color:#fff;
    }