<!-- start -->
<style>
      .bgimg{
      background-image: url('assets/images/food-eating-potatoes-beer-8313.jpg');
      height:400px;
    }
</style>

<div class="row bgimg">
        <div class="row">
            <br>
                <div class="createAcc pull-right">
                        <a routerLink="/signin"><strong>Login</strong></a>
                        <button><a routerLink="/signup"><strong>Create an Account</strong></a></button>
                </div>
                 
                <!-- <div class="createAcc">
                        <button><strong><a href="login.php?needAction=logout"> Logout</a></strong></button>
                </div> -->
        </div>
        <div class="row">
                <form class="form-inline text-center" method="GET" action="hotel_search.php">
                        <h3 style="color:white;text-shadow: 1px 1px 1px black;">Find the best restaurants, cafés, and bars in Pune</h3>
                       <input type="text" class="form-control" size="50" placeholder="Search Restaurants in pune" name="rest_search">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
                <br>
                <div class="website-logo text-center" >
                        <img src="assets/logo/logo.png" class="img-rounded"  height="15%" width="15%">
                </div>
                <br>
        </div>   
    </div>
   

<!-- end -->
<div class="container text-center">    
  <h3><strong>Order Food Online</strong></h3>
<p style="font-size: 16px;">Best restaurants delivering to your doorstep</p><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/4th-of-july-american-bright-461917.jpg" class="img-responsive" style="width:100%" alt="Image">
       <h3> Best of Pune</h3>
    <p>The hunt for the highest-rated restaurants in your city ends here</p>
    </div>
    <div class="col-sm-4"> 
      <img src="assets/images/pexels-photo-769969.jpeg" class="img-responsive" style="width:100%" alt="150*80">
      <h3>New Year's Eve 2018</h3>
<p>The best places to have the best New Year's Eve Celebration!</p>   
    </div>
    <div class="col-sm-4">
      <div class="well">
     <h3> Best of Pune</h3>
<p>The hunt for the highest-rated restaurants in your city ends here</p>
      </div>
      <div class="well">
       <h3>New Year's Eve 2018</h3>
<p>The best places to have the best New Year's Eve Celebration!</p>
      </div>
    </div>
  </div>
</div>

 <!-- second part -->
 <div class="row">
  <div class="container-fload quickSearch">
      <div class="row">
        <div class="header">
          <h3 style="text-shadow:2px 2px 4px #000000;"><strong>Our Services..!</strong></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-2 text-center">
              <img src="assets/icon/availability.png" height="75px" width="75px"/>
              <h4>Delivery</h4>
          </div>
          <div class="col-sm-2  text-center">
              <img src="assets/icon/dish.png" height="75px" width="75px">
              <h4>Breakfast</h4>
          </div>
          <div class="col-sm-2  text-center">
              <img src="assets/icon/hotel-bell.png" height="75px" width="75px">
              <h4>Lunch</h4>
          </div>
          <div class="col-sm-2  text-center">
              <img src="assets/icon/room-service.png" height="75px" width="75px">
               <h4>Dinner</h4>
          </div>
          <div class="col-sm-2  text-center">
              <img src="assets/icon/minibar.png" height="75px" width="75px">
              <h4>Drinks &amp; Nightlife</h4>
          </div>
          <div class="col-sm-2  text-center">
              <img src="assets/icon/five-stars.png"  height="75px" width="75px">
              <h4> Desserts &amp; Bakes</h4>
          </div>
     </div>
  </div>
</div>
