
    <div class="sidebar">
            <a class="btn btn-default" (click)="onChange('profile')">Profile</a>
            <a class="btn btn-default" (click)="onChange('delivery')">Add Menu</a>
            <a class="btn btn-default" (click)="onChange('restaurant')">Your Order</a>
            <a class="btn btn-default" (click)="onChange('feedback')">Upload Images</a>
            <a class="btn btn-default" (click)="onChange('feedback')">FeedBacks</a>

     </div>
          
          <div class="content">
              <div class="modal-dialog modal-lg thumbnail">
                     <div class="modal-body">
                         <!-- nested loop -->
                         <div *ngIf=" isActiveDiv == 'profile'">
                              <i class="fas fa-user-circle"></i>
                              <h2 class="text-center"style="text-shadow: :2px 2px 4px #000000;" >Restaurant Name</h2>
                              <p class="text-center" >sunilbombe456@gmail.com</p>
                             <h4 class="text-center">8605705665</h4>
                         </div>
      
                         <div *ngIf="isActiveDiv == 'delivery'">
                             <!-- block about menu -->
                        <div *ngIf="menuForm == true; else elseBlock">
                        <h3 class="text-center"><strong>Hotel Menus </strong><button class="btn btn-default" (click)="removeMenu()">Remove</button></h3>              
				        <div class="form-group">
                        <div class="input-group">
                        <label>Enter the Number of Product you want to Enter</label>
                        <input type="text" class="form-control" >
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="input-group">
                                <input type="button" class="btn btn-info"  value="Add Product">
                        </div>
                        </div>

                        <p>Image Size Should be 500 * 500 pxels</p>

                        <form method="POST" enctype="multipart/form-data" action="hotel_operation.php">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Dish Name</th>
                                    <th>type</th>
                                    <th>Price</th>
                                    <th>discount</th>
                                    <th>Image</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text"  class="form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" >
                                            </td>
                                            <td>
                                                <input type=text class="form-control">
                                            </td>
                                            <td>
                                                <input type="file" class="form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" >
                                            </td>
                                        </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                <td colspan="6"><input type="submit" class="btn btn-info" name="Add" value="submit"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
  
                    </div>
                    <ng-template #elseBlock>
                                        <h3 class="text-center"><strong>Hotel Menus </strong><button class="btn btn-default" (click)="addMenu()">Add Dishes</button></h3>
                                        <table id="cart" class="table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th style="width:10%">Order No</th>
                                                        <th style="width:50%">Dishes</th>
                                                        <th style="width:8%">Order Date</th>
                                                        <th style="width:20%" class="text-center">total</th>
                                                        <th style="width:30%">Hotel Name</th>
                                                        <th style="width:10%">payment Status</th>
                                                        <th style="width:10%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                            
                                    <th style="width:10%">1</th>
                                    <th style="width:50%">dhosa</th>
                                    <th style="width:8%">26/07/2019</th>
                                    <th style="width:20%" class="text-center">&#8377;400</th>
                                    <th style="width:30%">rest name</th>
                                    <th style="width:10%">complete</th>
                                    <th style="width:10%"><button class="btn btn-danger">Cancel</button></th>	
                                </tr>
                                </tbody>
                                </table>

                                </ng-template>
                         </div>

                         <!-- menu end -->
                         <div *ngIf="isActiveDiv == 'restaurant'">
                          <!-- rest oreder block -->
                          <h3 class="text-center"><strong>Your Order</strong></h3>
			    <table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:10%">Order No</th>
							<th style="width:50%">Dishes</th>
							<th style="width:8%">Order Date</th>
							<th style="width:20%" class="text-center">total</th>
							<th style="width:30%">Hotel Name</th>
							<th style="width:10%">payment Status</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
                        <tr>

		<th style="width:10%">1</th>
		<th style="width:50%">dhosa</th>
		<th style="width:8%">26/07/2019</th>
		<th style="width:20%" class="text-center">&#8377;400</th>
		<th style="width:30%">rest name</th>
		<th style="width:10%">complete</th>
		<th style="width:10%"><button class="btn btn-danger">Cancel</button></th>	
	</tr>
	</tbody>
	</table>
                          <!-- bolock end -->
                         </div>
      
                         <div *ngIf="isActiveDiv == 'feedback'">
                          <!-- this block is about uploading images-->
                          <h3 class="text-center">Add Your Restaurant Images</h3>
                          <p class="text-center danger">Image Size Should be 1200 * 400 pxels</p>
                          <form >
                            <div class="form-group">
                                      <div class="input-group">
                                        <input type="file"  class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                              <div class="input-group">
                                <input type="file"  class="form-control" required>
                                </div>
                                </div>
                               <div class="form-group">
                              <div class="input-group">
                                <input type="file"  class="form-control" required>
                                </div>
                                </div>
                             <div class="form-group">
                              <div class="input-group">
                                <input type="file" name="myFile4" class="form-control" required>
                              </div>
                            </div>
                              <div class="form-group">
                              <div class="input-group">
                                <input type="submit" value="upload" class="btn btn-lg btn-success">
                              </div>
                              </div>
                          </form>
                          <!-- end block -->
                          </div>
      
                        <!-- nested loop end -->
                    
                      </div>
              </div>
          </div>
      
      
      
      
      
      
      